{% include 'FecdasBundle:Includes:inner-messages.html.twig' %}
<div class="alert alert-success">
	<h3 class=""><i class="fa fa-shopping-cart"></i> comanda pendent de confirmar</h3>
	{%  if app.session.has('cart') %}
	    {% set cart = app.session.get('cart', {'productes' : {}, 'total' : 0}) %}
	    {% if cart.productes|length > 0 %}
    	    {% set allowremove = true %}	
    	    {% include "FecdasBundle:Facturacio:graellaproductescistellaform.html.twig" %}
    	    <div class="row">
				<div class="col-md-9 col-sm-12 col-xs-12">
            		<div class="btn-group btn-group-justified" role="group" aria-label="...">
        				<div class="btn-group" role="group">
                        	<a class="anular-cistella btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'anular',  'tipus' : tipus  }) }}">
                        		<i class="fa fa-trash red"></i> cancel·lar la comanda
                        	</a>
                		</div>
                		<div class="btn-group" role="group">
		                	<a class="desar-cistella btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'desar',  'tipus' : tipus }) }}">
		                		<i class="fa fa-check blue"></i> confirmar comanda
		                	</a>
                		</div>
                		<div class="btn-group" role="group">
                    	{% if admin == true %}
                    		<a class="pagar-cistella-admin btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'pagar',  'tipus' : tipus }) }}">
                    			<i class="fa fa-euro green"></i> confirmar i pagament (admin)
                    		</a>
                    	{% else %}
                    		<a class="pagar-cistella btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'pagar',  'tipus' : tipus }) }}">
                    			<i class="fa fa-credit-card green"></i> confirmar i pagar comanda
                    		</a>
                    	{% endif %}
                		</div>
                	</div>
                </div>
            </div>
        {% else %}
			<p class=""><i class="fa fa-shopping-cart"></i> No hi ha cap producte a la cistella</p>
	    {% endif %}
    {% else %}
		<p class=""><i class="fa fa-shopping-cart"></i> La cistella està buida</p>
    {% endif %}
</div>
