{% include 'FecdasBundle:Includes:inner-messages.html.twig' %}
<div class="alert alert-success">
	<h3 class=""><i class="fa fa-shopping-cart"></i> comanda pendent de confirmar</h3>
	{%  if app.session.has('cart') %}
	    {% set cart = app.session.get('cart', {'productes' : {}, 'total' : 0}) %}
	    {% if cart.productes|length > 0 %}
    	    {% set allowremove = true %}	
    	    {% include "FecdasBundle:Facturacio:graellaproductescistellaform.html.twig" %}
    	
        	<a class="anular-cistella  btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'anular',  'tipus' : tipus  }) }}">cancel·lar la comanda <i class="fa fa-trash red"></i></a>
        	<a class="desar-cistella  btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'desar',  'tipus' : tipus }) }}">només confirmar comanda <i class="fa fa-check blue"></i></a>
        	{% if admin == true %}
        		<a class="pagar-cistella-admin  btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'pagar',  'tipus' : tipus }) }}">desar comanda i confirmar pagament (admin)<i class="fa fa-euro green"></i></a>
        	{% else %}
        		<a class="pagar-cistella  btn btn-default" href="{{ path('FecdasBundle_tramitarcistella', { 'action': 'pagar',  'tipus' : tipus }) }}">confirmar i pagar comanda <i class="fa fa-credit-card green"></i></a>
        	{% endif %}
        {% else %}
			<p class=""><i class="fa fa-shopping-cart"></i> No hi ha cap producte a la cistella</p>
	    {% endif %}
    {% else %}
		<p class=""><i class="fa fa-shopping-cart"></i> La cistella està buida</p>
    {% endif %}
</div>
