<!-- app/Resources/views/base.html.twig Aplication level Template -->
<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE" >
        <meta content="Aplicació gestió de la Federació Catalana d'Activitats Subaquàtiques - FECDAS" name="description">
		<meta content="index, follow" name="robots">
		<meta content="Copyright © 2012 FECDAS" name="copyright">
		<meta content="version 2.0" name="version">
		<meta content="OnDisseny Web. Alex Macia" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Aplicació gestió FECDAS{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <style>section#main-col{display:none;}</style>            
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37415197-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script> 
    </head>
    <body>
		<section id="wrapper" class="container-fluid">
            <header id="header"  class="row {% if authenticated == false  %} header-nologin{% endif %}">
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 logo">{% block fecdas_logo %}{% endblock %}</div>
                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 title">{% block fecdas_title %}{% endblock %}</div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-lg-5 col-md-4 col-xs-8 notifications">{% block fecdas_notifications %}&nbsp;{% endblock %}</div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-last-right login">{% block fecdas_login %} {% endblock %}</div>
            </header>
			
			<section id="main" class="row">
				{% block menu_navigation %}{% endblock %}
	            <noscript>
					<div id="no-js" class="container">
					<h1>Navegador sense suport JAVASCRIPT</h1>
					<p><b>L'Aplicació de Tramitació de Llistes d'Assegurats</b> requereix de l'activació de Javascript per al seu correcte funcionament.</p>
					<p>Podeu trobar informació sobre el llenguatge Javascript aquí: <a href="http://ca.wikipedia.org/wiki/JavaScript" target="_blank">http://ca.wikipedia.org/wiki/JavaScript</a>.</p>
					<p>El web està optimitzat per als navegadors 
					<a href="http://www.mozilla.org/ca/firefox" target="_blank"><b>Firefox</b></a> i 
					<a href="https://www.google.com/chrome?hl=ca" target="_blank"><b>Chrome</b></a>, i per tant se'n recomana l'ús 
					a continuació disposeu dels enllaços amb informació per activar Javascript 
					als pricipals navegadors web.</p>
					<ul>
					<li>Firefox, <a href="http://www.enable-javascript.com/es/#firefox" target="_blank">http://www.enable-javascript.com/es/#firefox</a></li>
					<li>Chrome, <a href="http://www.enable-javascript.com/es/#chrome" target="_blank">http://www.enable-javascript.com/es/#chrome</a></li>
					<li>Internet Explorer, <a href="http://www.enable-javascript.com/es/#ie" target="_blank">http://www.enable-javascript.com/es/#ie</a></li>
					<li>Safari, <a href="http://www.enable-javascript.com/es/#safari" target="_blank">http://www.enable-javascript.com/es/#safari</a></li>
					<li>Opera, <a href="http://www.enable-javascript.com/es/#opera" target="_blank">http://www.enable-javascript.com/es/#opera</a></li>
					</ul>
					</div>
				</noscript>
	
	            <div id="main-col" class="container">
	           		{% block body %}{% endblock %}
	    			<div id="enquesta" class="finestra-overlay"></div>
	    			<div id="dialeg" title="Confirmation Required" style="display: none"></div>
	    		</div>
	    		<div class="mask"><img class="mask-progress" src="/images/icon_progress.gif"></div>
	    	</section>
            <section id="footer" class="row">
            	
                {% block footer %}
                	<div class="powered col-xs-2">
                		<div class="footer-text" style="float: left;">Powered by<br>Symfony2 </div>
                		<div><img src="{{ asset('images/sf-logo.png') }}" width="25px"/></div>
                	</div>
                	<div class="fecdas-footer col-xs-8"><p><a href="http://www.fecdas.cat">FECDAS</a> - copyright {{ "now"|date("Y") }}<br/>Federació Catalana d'Activitats Subaquàtiques NIF: Q5855006B</p>
                    </div>
                    <div class="created-by col-xs-2">
					<span class="footer-text"><br/>creat per </span><a href="http://www.ondissenyweb.com" target="_blank">On</a>
					</div>
                {% endblock %}
                
            </section>
			<div id="browser" style="display: none;"></div>           
        </section>

       
        
       {% block javascripts %}
       
      	
       
       {% endblock %}
       
        <script type="text/javascript">
    		$('#main-col').css('display', 'block');
		</script>
    </body>
</html>
