
<p>Representació de l'evolució del valor mitjà de les respostes quantitatives en les diferents enquestes realitzades </p>
<div id="resultats-enunciats" class="resultats-hidden">{{ enunciats }}</div>
<div id="resultats-dades-globals"  class="resultats-hidden">{{ dades }}</div>
<div id="resultats-plot-global"></div>


<script type="text/javascript">

$(document).ready(function(){
	createPlotResGlobal(); 
});

</script>