<html> 
<head></head>
<body>
<p>Hola!</p>

<p>Heu demanat la recuperació de la contrasenya per a l'aplicació de tramitació de llistes d'assegurats de la Federació Catalana d'Activitats Subaquàtiques (FECDAS)</p> 

<p>Per restablir la contrasenya, cal que accediu a l’enllaç següent:</p>

<a href="{{ url('FecdasBundle_user', {'token': token, 'user': user.user}) }}">{{ url('FecdasBundle_user', {'token': token, 'user': user.user}) }}</a>

<p>Si no heu demanat de canviar la contrasenya, ignoreu aquest missatge i la clau no canviarà</p>

<p>Atentament<br/>
FECDAS, {{ "now" | date("d/m/Y") }}.</p>

<img src="{{ logo }}" alt="FECDAS" /> 

</body>
</html>
