/*!
 * jQuery Cookiebar Plugin
 * https://github.com/carlwoodhouse/jquery.cookieBar
 *
 * Copyright 2012, Carl Woodhouse
 * Disclaimer: if you still get fined for not complying with the eu cookielaw, it's not our fault.
 */
 
.cookie-message {
  position:fixed;
  /*top:0;left:0;right:0;  Alex */
  bottom:0;left:0;right:0;
  padding:5px 85px 5px 20px;
  /*background:#fff;  Alex */
  background-color: rgb(54,59,71); /* #363b47 Fallback */
  background-color: rgba(54,59,71,0.8);  /* #363b47 */
  /*background-color: rgba(255,255,255,0.8);*/
  border-bottom:1px solid #ccc;
  box-shadow:0px 0px 3px #ccc;
  display: none;
  z-index: 99;
}
.cookie-message .container p, .cookie-message .container a {
  color:#eee;
  font:normal 13px/18px Arial;
  margin:0.6em 0;
}
.cookie-message .container a {
  /*position:absolute;
  top:0; *top:-2px; right:20px;*/
  cursor:pointer;
  font-style: italic; /* Alex */
  padding-left: 10px; /* Alex */
}

.cookie-message .container a:hover {
  color:#fff;
  text-decoration: underline; 
}

.cookie-message a.cookie-close-button {  /* Alex */
  position:absolute;
  top:7px; right:45px;
  color:#eee;
  font-style: normal; /* Alex */
}

.cookie-blue {
  border-bottom:1px solid #0E83AE;
  background-color:#0990c3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
  background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
}
.cookie-blue p, .cookie-blue a { color:#fff; }