/* CSS reset */
* { margin: 0; padding: 0px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	font-family: helvetica monospace,arial,sans-serif;
    font-size: 14px;
}

/* F48A00 --> 6290bf --> 1240a0*/

/************************************* Ull!!! **********************************

#header {margin-bottom:3em} 			--> Normal IE < 8
html>body #header {margin-bottom:1em}   --> Hack altres navegadors

Explorer no enten la segona línea (usa la primera)
Altres navegadors usen la segona línea

Afegint això al Header fem que sigui compatible IE8 molt semblant a la resta de navegadors
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

Vigilar: margin, padding, width i height


Dels següents hacks normalment cal corregir firefox i prou
Chorme / Safari / IExplorer van junts

Només Firefox

@-moz-document url-prefix() {
	.selector {
		css ...
	}
}

Només Chrome i safari

@media screen and (-webkit-min-device-pixel-ratio:0) {  
	.selector {
		css  ...
	}
}

Només Opera

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.selector {
		css  ...
	}
}

	
**********************************************************************************/

ol,ul{ list-style:none;	margin: 0;  padding: 0; }

html,
body { 
	font-size: 12px; 
	color: #444444; font-size: 14px; 
	background: url("../images/cap_fons3.png") repeat-x scroll center top transparent;
}


/******************************** Posicionament blocs ********************************/
html,
body { 
   	height:100%;
}

#wrapper { 
	min-height:100%;
    /*min-width: 800px;
    width: 100%;
    margin: auto;*/
    position: relative;
}

/*
html>body #wrapper { 
	min-height:96%;
}
*/
/*
* html #wrapper { height:96%; }*/ /* IE Hack only*/

#header { 
	height: 80px; 
	padding: 10px;
	position: relative;
}

#main {
	/*overflow: auto;*/
	/*width: 100%;*/
   	/*padding:5px;*/
   	padding-bottom:80px;   /* Height of the footer + 10*/
}

#footer { 
	position:absolute;
    bottom:0;
    /*height:50px;*/   /* Height of the footer */
    width: 100%;
}


#left-menu { 
	float:left;
	min-width: 130px; 
	width: 10%;
	padding: 80px 5px 10px 0px; /* 60 px Height of the footer */
}

/*html>body #left-menu { 
	width: 130px; 
}*/

#main-col,
#no-js {
	/*min-width: 550px;   
    width: 75%;			   
    max-width: 1000px;
    min-height:600px;*/
	/*padding:10px;
    padding-bottom:10px;*/   /* Height of the footer */
  	/*position: relative;
  	margin: auto;*/
}

* html #main-col { /*max-width: 1000px;  max-height IE hack */
  /* width: expression( this.scrollWidth > 999 ? "1000px" : "auto" );*/ /* sets max-width for IE */
  /* height: expression( this.scrollHeight < 601 ? "600px" : "auto" );*/ /* sets min-height for IE */
}


#no-js ul{
	padding-left: 30px; 
}

/******************************** Fi Posicionament blocs ********************************/

.clear { clear: both; }

.title { 
	/*width: 380px;*/ padding-left: 154px; display: inline-block; line-height:1; 
	/*font-family: 'Londrina Outline';*/
	font-size: 18px;
}
.title i { 
	/*font-family: 'Londrina Outline';*/
	font-size: 16px;
}

a img {border: none; }

#wrapper { 
	background: url("../images/corner6.png") no-repeat scroll 90% 10% transparent;
}

#header {  color: #EEEEEE; z-index: 10}

#header .logo { /*width: 0; float: left;*/ /*display: inline-block;*/  }

.login { /*float: right; */ /*display: inline-block; width: auto;*/ }

.login #menu-user { float: right; }
.login .btn-primary.user-login { /*max-width: 240px;*/ text-overflow: ellipsis; width: 170px; }

#menu-user { /* max-width: 270px; */ }

#header .login img { vertical-align: middle; padding: 0 10px; }
#header a { color: #EEEEEE; }
.logo img { width : 130px; }

/*#header h2 { font-family: 'Irish Grover', cursive; font-size: 92px; text-align: center; line-height: 110px; }
#header h2 a { color: #000; }
#header h3 { text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }*/

/*
#left-menu { display: inline-block; }

#left-menu .submenu { display: none; padding-left: 10px; }

#left-menu ul.navigation { text-align: left; }
#left-menu .navigation li { 
	display: block;
	line-height: 40px;
}

#left-menu .navigation li a { 
	display: inline-block; 
	padding: 10px 15px;
	width: 100%; 
	line-height: 24px;
	margin-bottom: 5px;
}


#left-menu a {
	color:#2281CF;
	text-decoration: none;	
	font-weight: bold;
	font-size: 15px;
	
	border-color: #82CFFA #E7F2FB #96C4EA;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
    background: none repeat-x scroll 0 0 #FFFFFF;
}

#left-menu a:visited { }

#left-menu a:active,
#left-menu a:hover { 
	color: #005A8C;
	background: none repeat-x scroll 0 0 #F0F9FF;
}

#left-menu .left-menu-active {
	background: none repeat-x scroll 0 0 #F0F9FF;
}

#left-menu .navigation a .menu-subitem {
	left: 1.8em;
}

#left-menu .navigation a span {
	left: 1.1em;
    margin-top: 3px;
    position: absolute;
}

@-moz-document url-prefix() { 
	#left-menu .navigation a span {
		left: 0.5em;
	}
	#left-menu .navigation a .menu-subitem {
		left: 1.3em;
	}
}

#left-menu .navigation a .ui-icon-triangle-1-e {
    display: none;
}

#left-menu .navigation a:hover .ui-icon-triangle-1-e {
    display: inline;
}
*/

/*
html>body #left-menu a:active, 
html>body #left-menu a:visited,
html>body #left-menu a:hover { 
	text-decoration: none;
	color: #2281CF;
	background: none repeat-x scroll 0 0 #F0F9FF;
}*/

/*
#main-col { 
	display: inline-block; 
	border-left: 1px solid #ccc; 
}*/

#main-col a { 
	/*color: #1240a0;*/ 
	color: #005A8C 
}
#main-col h1
    { line-height: 1.2em; font-size: 28px; margin-bottom: 10px; margin-top: 5px; /*margin-left: 30px;*/ font-weight: normal; color: #1240a0; }
#main-col h2
    { line-height: 1.2em; font-size: 28px; margin-bottom: 20px; margin-top: 10px; /*margin-left: 30px;*/ font-weight: normal; color: #1240a0; }    
#main-col h3 
    { line-height: 1.1em; font-size: 18px; margin-bottom: 5px; margin-top: 3px; /*margin-left: 30px;*/ font-weight: normal; color: #1240a0; }   
#main-col header { line-height: 1.5em; margin-bottom: 20px;  /*width:770px*/ }
#main-col header .nav-stacked { max-width: 300px; }
#main-col header h1 a {
	font-size: 0.8em;
	text-decoration: none;
	color:#1240A0;
}
#main-col header a:visited { }
#main-col header a:active,
#main-col header a:hover { 
	color: #2281CF;
	text-decoration: underline;
}

#main-col .page-center { margin: auto; max-width: 350px; }
#main-col .narrow.page-center  { text-align: justify; max-width: 770px; }
#main-col .content-center { /*margin-top: 30%;*/ padding: 0 15px; padding-top: 20%; }

/*.content-center input { max-width: 100%; width: 100%; }

.content-center div { padding-bottom: 10px; }*/

#footer { 
	border-top: 1px solid #ccc; 
	/*clear: both;*/ 
	text-align: center; 
	color: #aaa; 
    /*background:#6cf;*/
	
	background-image: linear-gradient(bottom, rgb(255,255,255) 91%, rgb(237,237,237) 100%, rgb(237,237,237) 100%);
	/*background-image: -o-linear-gradient(bottom, rgb(255,255,255) 91%, rgb(237,237,237) 100%, rgb(237,237,237) 100%);*/
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 91%, rgb(237,237,237) 100%, rgb(237,237,237) 100%);
	/*background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 91%, rgb(237,237,237) 100%, rgb(237,237,237) 100%);*/
	/*background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 91%, rgb(237,237,237) 100%, rgb(237,237,237) 100%);*/

	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.91,rgb(255,255,255)),color-stop(1, rgb(237,237,237)),color-stop(1, rgb(237,237,237)));
}


#footer .powered { padding: 15px; text-align: left;  font-size: smaller;}

#footer .fecdas-footer { padding: 10px; }

#footer .created-by { text-align:right; padding: 10px;  font-size: smaller; }

#no-js { 
	border-left: 1px solid #ccc;
	/*display: inline-block;*/
}
    					
#no-js a { 
	color: #005A8C 
}
#no-js h1,
#no-js h2
    { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; margin-top: 5px; font-weight: normal; color: #1240a0; }
#no-js p { line-height: 1.5em; margin-bottom: 20px; }

#no-js ul { line-height: 2em; list-style: circle outside none;}
