@CHARSET "UTF-8";

/*

Mediaqueries, add meta
<meta name="viewport" content="width=device-width, initial-scale=1.0">

Examples
> 320x480 smart phone portrait
> 480x320 smart phone landscape
> 768x1024 tablet portrait
> 1024x768 tablet/netbook landscape
> 1680x1050 desktop   

*/

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}
@media (min-width: 1200px) {
	.logo img { width : 110px; }
	
	#header .title { padding-left: 130px; }
	
	.container {
	    width: 1000px;
	}
}

@media (min-width: 1680px) {
	.logo img { width : 130px; }
	
	#header .title { padding-left: 154px; }

	.container {
	    width: 1170px;
	}
}

@media only screen and (max-width: 1200px) {
	.logo img { width: 90px; }
	
	.title { padding-left: 110px; }
	
	#header { margin-bottom: 10px; }
	
	/*#main-col .content-center { margin: 0; }*/
	
}

@media only screen and (min-width: 960px) {
}

@media only screen and (max-width: 959px) {
	.nav > li > a { padding: 15px 10px; }
	.navbar-text { display: none; }
	.title { font-size: 17px; line-height: 1.1; }
	.title i { font-size: 15px; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {
	input { min-width: inherit; }
	
	.navbar-text { display: block; padding: 0 10px; margin: 0; border-bottom: 1px solid  #cccccc; border-top: 1px solid  #cccccc; }
	
	.navbar-right li {
    	text-align: left;
	}
	
	#left-menu { display: none }
	#main-col { border: none }
	
	#main-col .narrow.page-center { /*width: 90%;*/ }
	
	#main-col nav .nav-pills a { font-size: 1em; }
	
	#main-col .page-center { /*margin: 15px auto 0; width: auto;*/ }
	
/*	#menu-user {
	    float: none;
	    margin: 0;
	    position: relative;
	    width: auto;
	}	
	
	#menu-user .menu-user-club-info {
	    float: none;
	    margin: auto;
	    width: 90%;
	}

	#menu-user .menu-user-club-info .select2-container a { width: auto; }

	#menu-user .menu-user-action { display: none }
	#menu-user label,
	#menu-user .select2-container { display: inline-block; margin: auto; width: 200px;}
	#mobile-menu-principal { display: block; margin: auto; }
	*/
	
	#main-col, #no-js {
    	/*max-width: inherit;
    	min-width: inherit;
    	width: 100%;
    	min-height: inherit;
    	padding: 0;*/
	}

	#wrapper {
	    /*margin: auto;
	    min-width: 420px;
	    position: relative;
	    width: auto;*/
	}
	
	#header {
	    height: auto;
	    /*padding: 10px;
	    position: relative;*/
	    background-image:none;
	    background-color: #67A2CF;
	}
	
	#header.header-nologin {
		/* height: 60px;*/
	}
	
	.title {
	    padding-left: 70px;
	    /*display: block;
	    width: auto;*/
	    padding-bottom: 20px;
	}
	
	.logo img {
	    width: 60px;
	}
	
	.title { font-size: 15px; line-height: 1; }
	.title i { font-size: 13px; }
	
	#main-col h1, #main-col h2 { font-size: 28px; }
	
	#main {
    	padding-bottom: 120px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
	#main-col header { /*width: auto;*/ }

	.login {
	    /*display: block;
		margin: auto;
	    width: auto;*/
	    /*float: none;
	    text-align: center;
	    width: 100%;*/
	}

	#main-col .content-center { padding: 0; }
	
	#menu-user .select2-container { width: 200px;}
	
	#formllicencia-persona #s2id_parte_llicencies_persona_select {
		width: 200px;
	}
	
	#partes-main .form-col { display:block; width:95%; float:none;  }
	#partes-main .column-right { position: absolute; top: 60px; }

	.footer-text { display: none; }
	.fecdas-footer {
    	font-size: 0.8em;
	}	
	
	#main-col h1, #main-col h2 { font-size: 24px; }
	
	h3 { font-size: 20px; }
	
	.col-responsive {  display: table-cell; }
	.col-noresponsive { display: none;}
	
	.assegurat-tipusdesc { width: 45%; }
	
	#main-col nav .nav-pills a { font-size: 0.9em; padding: 5px 10px; }
	
	#main-col nav .nav-pills .fa { width: 20px;}
}