@CHARSET "UTF-8";

/*

Mediaqueries, add meta
<meta name="viewport" content="width=device-width, initial-scale=1.0">

Examples
> 320x480 smart phone portrait
> 480x320 smart phone landscape
> 768x1024 tablet portrait
> 1024x768 tablet/netbook landscape
> 1680x1050 desktop   

*/

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}

/* BOOTSTRAP -LG */

@media (min-width: 1210px) {
	.logo img { width : 110px; }
	
	/* #header .title { padding-left: 130px; } */
	
	.container {
	    width: 1000px;
	}
}

@media (min-width: 1680px) {
	.logo img { width : 130px; }
	
	/* #header .title { /*padding-left: 154px; }*/

	.container {
	    width: 1170px;
	}
}

@media only screen and (max-width: 1680px) {
	.nav > li > a { padding: 15px 10px;  }
	.navbar-text { display: none; }
}



@media only screen and (max-width: 1210px) {
	.nav > li > a { padding: 10px 5px; }
	
	.navbar { min-height: 0; }
	
	.logo img { width: 80px; }
	
	/*.title { padding-left: 110px; }*/
	
	#header { margin-bottom: 10px; }

	.title { font-size: 14px; line-height: 1.1; }
	.title i { font-size: 13px; }
	
	/*#main-col .content-center { margin: 0; }*/
	#header .notifications .notifications-title { font-size: 0.85em; }
	#header .notifications .dev-environment { font-size: 0.6em; }
}

/* BOOTSTRAP -MD */

@media only screen and (min-width: 992px) {
}



@media only screen and (max-width: 991px) {
	.nav > li > a { padding: 10px 5px; font-size: 0.9em; }
	
	/*.title { font-size: 16px; line-height: 1.1; }
	.title i { font-size: 14px; }*/
	
	#header .notifications .notifications-title { font-size: 0.75em; }
	#header .notifications .dev-environment { font-size: 0.5em; }
	
	#header .notifications { display: none;  }
	
	.login .btn-primary.user-login { max-width: 220px; }
}

/* BOOTSTRAP -SM */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*.title { padding-left: 30px; }*/
	
	
	
	.logo img { width: 60px; }
}

/* BOOTSTRAP -XS */

@media only screen and (max-width: 767px) {
	input { min-width: inherit; }
	
	.navbar-default .navbar-text { display: block; padding: 10px; margin: 0; border-bottom: 1px solid  #cccccc; border-top: 1px solid  #cccccc; background: #337ab7; color: #ffffff; }
	
	.navbar-right li {
    	text-align: left;
	}
	
	#left-menu { display: none }
	#main-col { border: none }
	
	#main-col .narrow.page-center { /*width: 90%;*/ }
	
	#main-col nav .nav-pills a { font-size: 1em; }
	
	#main-col .page-center { /*margin: 15px auto 0; width: auto;*/ }
	
	#header .notifications { font-size: 24px; }
	
/*	#menu-user {
	    float: none;
	    margin: 0;
	    position: relative;
	    width: auto;
	}	
	
	#menu-user .menu-user-club-info {
	    float: none;
	    margin: auto;
	    width: 90%;
	}

	#menu-user .menu-user-club-info .select2-container a { width: auto; }

	#menu-user .menu-user-action { display: none }
	#menu-user label,
	#menu-user .select2-container { display: inline-block; margin: auto; width: 200px;}
	#mobile-menu-principal { display: block; margin: auto; }
	*/
	
	#main-col, #no-js {
    	/*max-width: inherit;
    	min-width: inherit;
    	width: 100%;
    	min-height: inherit;
    	padding: 0;*/
	}

	#wrapper {
	    /*margin: auto;
	    min-width: 420px;
	    position: relative;
	    width: auto;*/
	    background-position: 50% 50%;
	    
	}
	
	#header {
	    height: auto;
	    /*padding: 10px;
	    position: relative;*/
	    background-image:none;
	    background-color: #67A2CF;
	    margin-bottom: 20px;
	}
	
	#header.header-nologin {
		/* height: 60px;*/
	}
	
	/*.title {
	    padding-left: 70px;
	    padding-bottom: 20px;
	}*/
	
	.logo img {
	    width: 75px;
	    position: absolute;
	}
	
	.title { font-size: 15px; line-height: 1; }
	.title i { font-size: 13px; }
	
	#main-col h1, #main-col h2 { font-size: 28px; }
	
	#main {
    	padding-bottom: 120px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.title { margin-left: -15px; }
	
	.logo img {
	    width: 65px;
	    position: absolute;
	}
}

@media only screen and (max-width: 479px) {
	#main-col header { /*width: auto;*/ }

	.login {
	    /*display: block;
		margin: auto;
	    width: auto;*/
	    /*float: none;
	    text-align: center;
	    width: 100%;*/
	    margin-left: 0;
	    width: 100%;
	}

	.logo img {
	    width: 60px;
	    position: absolute;
	}
	
	.title { padding-left: 30px; }
	
	#header #menu-user .menu-user-dropdown.open .dropdown-menu a { font-size: 13px; line-height: 2; }
	
	#main-col .content-center { padding: 0; }
	
	#menu-user .select2-container { width: 200px;}
	
	#formllicencia-persona #s2id_parte_llicencies_persona_select {
		width: 200px;
	}
	
	#partes-main .form-col { display:block; width:95%; float:none;  }
	#partes-main .column-right { position: absolute; top: 60px; }

	.footer-text { display: none; }
	.fecdas-footer {
    	font-size: 0.8em;
	}	
	
	#main-col h1, #main-col h2 { font-size: 24px; }
	
	h3 { font-size: 20px; }
	
	.col-responsive {  display: table-cell; }
	.col-noresponsive { display: none;}
	
	.assegurat-tipusdesc { width: 45%; }
	
	#main-col nav .nav-pills a { font-size: 0.9em; padding: 5px 10px; }
	
	#main-col nav .nav-pills .fa { width: 20px;}
}