{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Autenticació {% endblock %}

{% block fecdas_login %}
<!-- Login page doesn't load login (bubble) form) -->
	
{% endblock %}

{% block body %}
	<div class="login page-center"> 
		{{ parent() }}
	    
		<div class="login-content content-center"> 
		    <header>
		        <h1>Entrada d'usuaris</h1>
		    </header>
		
		    <div class="row">
		    	<div class="col-md-12 block-errors">
		    		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		    	</div>
		    </div>
		    
		   	{% include "FecdasBundle:Security:loginform.html.twig" %} 
		   	<a href="{{ path('FecdasBundle_pwdrecovery') }}">Password perdut?</a>
	   	</div>
   	</div>
   	
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		setMenuActive("menu-login");
	
		helpBubbles("#login_user", '<p>L\'usuari és una adreça de correu electrònic. p.e. </p>\
					<p>maildelclub@domini.com</p>');
	
		helpBubbles("#login_pwd", '<p>Indica la teva paraula clau d\'accés al sistema</p>');


		$('input').change(function() {
	        var elem = $(this);
	        if (elem.val()) elem.blur(); 
	    });
		/*
		setTimeout(function() {
			$('input').each(function() {
		        var elem = $(this);
		        if (elem.val()) elem.blur(); 
		    });
		}, 50);*/
	});
	</script>
{% endblock %}
