{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicaci贸 gesti贸 FECDAS. Autenticaci贸 {% endblock %}

{% block body %}
	<div class="logout page-center"> 
		{{ parent() }}
		
		<div class="login-content content-center"> 
		    <header>
		        <h1>Sortida</h1>
		    </header>
		
		    {% for flashMessage in app.session.flashbag.get('sms-notice') %}
		    <div class="sms-notice">
				{{ flashMessage }}
		  	</div>	
			{% endfor %}
			{# app.session.clearflashes #}
		   
		    <p><a href="{{ path('FecdasBundle_login') }}">Iniciar sessi贸</a></p>
	    </div>
    </div>
{% endblock %}
