{# src/Fecdas/PartesBundle/Resources/views/Security/politicacookies.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Política de cookies {% endblock %}

{% block body %}
	<div class="cookies static-page page-center">
	
		{{ parent() }}
		
		<div class="cookies-content content-center"> 
		    <header>
	        	<h1>Política de cookies</h1>
		    </header>
			<div class="row">
	   		 	<div class="col-md-12">
					<h2>Què és una cookie?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Les cookies són paquets d'informació de dimensió escassa que envien els servidors d'un lloc web al navegador de l'usuari amb dades sobre la seva navegació prèvia.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Per a què s'utilitzen les cookies a aquest lloc web?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Les cookies són una part essencial de com funciona el nostre lloc web (<a class="link" href="{{ path('FecdasBundle_homepage') }}">www.fecdasgestio.cat</a>). L'objectiu principal de les nostres cookies és millorar la seva experiència en la navegació i en futures visites. La informació recollida en les cookies ens permet a més, millorar la web mitjançant estimacions sobre números i patrons d'ús, l'adaptació del lloc web als interessos dels usuaris, l'acceleració de les recerques, etc.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Qui utilitza la informació emmagatzemada en les cookies?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>La informació emmagatzemada a les cookies del nostre lloc web és utilitzada exclusivament per nosaltres, a excepció d'aquelles identificades com a "cookies de tercers", que són utilitzades i gestionades per entitats externes per proporcionar-nos serveis sol·licitats per nosaltres per millorar els nostres serveis i l'experiència del usuari en navegar en el nostre lloc web. El principal servei per al qual s'utilitzen aquestes "cookies de tercers" és l'obtenció d'estadístiques.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Les cookies emmagatzemen dades personals?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Les cookies poden emmagatzemar informació de l'usuari de caràcter personal. Com a informació de caràcter personal s'entén qualsevol informació sobre una persona física com per exemple un nom, un número d'identificació, dades de localització o un identificador en línia d'aquesta persona. En aquest cas el tractament de les seves dades es realitzarà en compliment al que disposa el Reglament Europeu de Protecció de Dades i l'interessat podrà trobar tota la informació a Política de privacitat.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Com puc evitar l'ús de cookies en aquest lloc web?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Si vostè prefereix evitar l'ús de cookies en aquesta pàgina, tenint en compte les limitacions anteriors, vostè ha de, en primer lloc, desactivar en el seu navegador l'ús de cookies i, en segon lloc, eliminar les cookies guardades al teu navegador associades a aquest lloc web de la manera que s'indiqui en cada cas. Aquesta possibilitat d'evitar l'ús de cookies pot ser duta a terme per vostè en qualsevol moment.</p>
	   				<p>Per restringir, bloquejar o esborrar les cookies d'aquest lloc web pot fer-ho, en qualsevol moment. (<a class="link" href="{{ path('FecdasBundle_politicaprivacitat') }}">Política de privacitat</a>).</p>
	   				<p>En qualsevol cas, es podrà utilitzar l'ús de cookies quan es denegui el consentiment en el moment d'accés a la web o de forma específica quan es requereixi d'una autorització expressa per a l'accés a determinat contingut.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Quines cookies utilitza aquest lloc web i per a quines finalitats?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>A continuació es descriurà el tipus de cookies que utilitzem i incloem un quadre amb les cookies utilitzades per aquest lloc web, juntament amb la informació sobre el propòsit, durada i gestió de cada un d'ells:</p>
	   				<ul class="list-style">
	   					<li>Cookies tècniques: Són aquelles que permeten a l'usuari la navegació a través d'una pàgina web, plataforma o aplicació i la utilització de les diferents opcions o serveis que en ella hi hagi com, per exemple, controlar el trànsit i la comunicació de dades, identificar la sessió, accedir a parts d'accés restringit o utilitzar elements de seguretat durant la navegació.</li>
	   					<li>Cookies de personalització: Són aquelles que permeten a l'usuari accedir al servei amb algunes característiques de caràcter general predefinides en funció d'una sèrie de criteris en el terminal de l'usuari com ara serien el tipus de navegador mitjançant el qual s'accedeix al servei, la configuració regional des d'on s'accedeix al servei, etc.</li>
	   					<li>Cookies d'anàlisi: Són aquelles que permeten al responsable de les mateixes, el seguiment i anàlisi del comportament dels usuaris dels llocs web als que estan vinculades. La informació recollida mitjançant aquest tipus de cookies s'utilitza en el mesurament de l'activitat dels llocs web, aplicació o plataforma i per a l'elaboració de perfils de navegació dels usuaris d'aquests llocs, aplicacions i plataformes, per tal d'introduir millores en funció de l'anàlisi de les dades d'ús que fan els usuaris del servei.</li>
	   				</ul>
					<p>Per a l'ús de les cookies, que s'enumeraran a continuació en el quadre de cookies, la Federació Catalana d’Activitats Subaquàtiques (FECDAS) necessitarà el seu consentiment, que podrà ser retirat en qualsevol moment.</p>
					<p>No obstant això, per a l'efectiva prestació de serveis de la societat de la informació expressament sol·licitat per l'usuari serà estrictament necessari l'ús de les cookies següents:</p>
					<ul><li>Cookies de sessió.</li></ul>
	   			</div>
	   			<div class="col-md-12">
					<h2>Quadre de les cookies utilitzades en aquest lloc web:</h2>
				</div>
	   		 	<div class="col-md-12">
	   		 		<div class="table-responsive">
    	   				<table class="table table-condensed">
                            <thead class="data-detall-header">
                                <tr>
                                	<th scope="col" class="col-listheader">Cookies</th>
                                    <th scope="col" class="col-listheader">Tipus</th>
                                    <th scope="col" class="col-listheader">Titularitat</th>
                                    <th scope="col" class="col-listheader">Temporalitat</th>
                                    <th scope="col" class="col-listheader data-detall-cell-left">Finalidad de la cookie</th>
                                    <th scope="col" class="col-listheader">Més informació...</th>
                                </tr>
                            </thead>    
                            <tbody class="table-noscroll table-noscroll-large">
                                <tr class="data-detall">
                                    <td class="data-detall-cell col-noresponsive">Sessió</td>
                                    <td class="data-detall-cell col-noresponsive">Tècnica<span class="subtitle">(PHPSESSID)</span></td>
                                    <td class="data-detall-cell col-noresponsive">Pròpia</td>
                                    <td class="data-detall-cell col-noresponsive">Temporal</td>
                                    <td class="data-detall-cell data-detall-cell-left col-noresponsive">Estrictament necessària. Sessió, historial de navegació, missatges d'usuari</td>
                                    <td class="data-detall-cell col-noresponsive">N/A</td>
                                </tr>
                                <tr class="data-detall">
                                    <td class="data-detall-cell col-noresponsive">Google Analytics</td>
                                    <td class="data-detall-cell col-noresponsive">D'anàlisis<span class="subtitle">(__utma, __utmb, __utmc, __utmt, __utmz)</span></td>
                                    <td class="data-detall-cell col-noresponsive">Aliena</td>
                                    <td class="data-detall-cell col-noresponsive">Temporal</td>
                                    <td class="data-detall-cell data-detall-cell-left col-noresponsive">Obtenir informació de la navegació per mesurar i analitzar, per tal de detectar necessitats i introduir millores al servei.</td>
                                    <td class="data-detall-cell col-noresponsive"><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" class="link">analytics.js</a></td>
                                </tr>
                        	</tbody>
                        </table>
                    </div>
	   				<p>Aquest quadre de cookies podrà estar subjecte a actualitzacions a mesura que es vagi incorporant l'ús de noves cookies o que se suprimeixi l'ús de les actuals. Per això caldrà que revisi aquesta política de cookies periòdicament amb l'objectiu d'estar adequadament informat sobre el tipus de cookies utilitzades i les seves finalitats.</p>
	   				<p>Aquesta pàgina web utilitza cookies de tercers que permeten gestionar i millorar els serveis oferts. L'usuari té l'opció de permetre la seva instal·lació en l'equip així com, en qualsevol moment, podrà eliminar-les mitjançant la configuració de les opcions del navegador en el vostre terminal. Concretament per ajustar els permisos relacionats amb el navegador ha d'anar a les seccions de Privacitat i configuració de les opcions de cookies que correspongui segons el navegador utilitzat.</p>
	   				<p>L’empresa no guarda cap informació de caràcter personal per tant, l’empresa no es fa responsable del tractament de dades que puguin realitzar tercers, quedant l'usuari subjecte als termes i condicions així com a la Política de Privacitat d'aquests tercers.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Com administrar les 'cookies' al navegador?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>L'usuari té l'opció de permetre, bloquejar o eliminar les 'cookies' instal·lades al seu equip mitjançant la configuració de les opcions del navegador instal·lat al seu terminal:</p>
	   				<p>Si es bloqueja l'ús de 'cookies' al seu navegador, és possible que alguns serveis o funcionalitats de la pàgina web no estiguin disponibles.</p>
	   				<p>En alguns navegadors es poden configurar regles específiques per administrar 'cookies' segons el lloc web, la qual cosa ofereix un control més precís sobre la privacitat. Això significa que es poden inhabilitar 'cookies' de tots els llocs tret d'aquells en els quals es confiï.</p>
	   			</div>
	   		</div>
	   	
	   	</div>
   	</div>
{% endblock %}
