{# src/Fecdas/PartesBundle/Resources/views/Security/termesicondicions.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Termes i Condicions d'ús {% endblock %}

{% block body %}
	<div class="termes page-center">
	
		{{ parent() }}
		
		<div class="termes-content content-center"> 
		    <header>
	        	<h1>Termes i Condicions d'ús</h1>
		    </header>
			<div class="row">
	   		 	<div class="col-md-12">
	   				<p>Pendent ...</p>
	   			</div>
	   		</div>
	   	
	   	</div>
   	</div>
{% endblock %}
