<div id="participants-curs" class="row">
	<div class="col-md-6">
		<h2 class="blue">Relació d'alumnes aptes</h2>
	</div>
	
	{% if curs.editable == true %}
	
	<div class="col-md-6 col-last-right">
		<div class="form-inline space20">	
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
					{{ form_widget(form.auxalumne, { 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
			<div class="form-group">
				<a class="add-alumne link" href="javascript:void(0);" ><i class="fa fa-chevron-circle-down fa-2x blue"></i></a>
			</div> 
		</div>
	</div>	
	{% endif %}
	
	<div id="llista-alumnes" class="col-md-12">
		<div class="table-header">
			<div id="list-header" class="list-docent-curs-header">
				<div class="col-id hidden">&nbsp;</div>
				<div class="col-meta hidden">&nbsp;</div>
				<div class="col-listheader col-alumne-dni">DNI</div>
				<div class="col-listheader col-alumne-nom">Nom i cognoms</div>
				<div class="col-listheader col-alumne-certificat">Certificat</div>
				<div class="col-listheader col-alumne-foto">Foto</div>
				<div class="col-listheader col-alumne-num">Num.</div>
				<div class="col-listheader col-alumne-actions">&nbsp;</div>
			</div>
		</div>
		<div class="table-noscroll">
   			<ul id="list-data-alumnes" class="list-data alumnes-curs" data-prototype="{{ form_row(form.participants.vars.prototype)|e('html_attr') }}">
   			    {% set proto = false  %}
				{% for participant in form.participants %}
	                {% set participantdata = participant.vars.data  %}
					{% include 'FecdasBundle:Titulacions:cursalumnerow.html.twig'  %}
				{% endfor %}
				<li class="empty-alert {% if form.participants|length > 0 %}hidden{% endif %}"><div class="alert alert-success" role="alert">Cap participant</div></li>
			 </ul> 
		</div>				 
	</div>
</div>
	