{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicaci贸 gesti贸 FECDAS. Notificaci贸 Pagament{% endblock %}

{% block fecdas_login %} {% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
    <div id="notificacio">
	<div class="sms-notice">
		{% if result == 'OK' %}
			Pagament realitzat correctament 
		{% else  %}
			{% if result == 'PEND' %}
				Pagament pendent de comprovar per part de la Federaci贸
			{% else  %}
				S'ha produit un error durant el pagament 
			{% endif %} 
		{% endif %} 
		
	</div>
	<div id="close-notificacio">
		<a href="{{ url }}">Torna</a>
	</div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/my-jquery-script.js') }}" type="text/javascript"></script>

<script type="text/javascript">

$(document).ready(function(){
	/*window.close();
	dialegError("Error", "wewewewewe", 300, 100);
	window.opener.location.href=url;*/
	

	
	$("#close-notificacio a").click(function() {
		url = $(this).attr("href");
		window.opener.location.href=url;
		window.close();
	});

	$(window).unload(function() {
		url = $("#close-notificacio a").attr("href");
		window.opener.location.href=url;
		window.close();
	});
	
});
</script>


{% endblock %}


