# Bootstrap
app/bootstrap*

# Symfony directories
/composer.phar
/vendor/
/bin/
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/*
/app/phpunit.xml


# Backups
web/backups/*
web/backupbbdd.php

# logs
web/errorspagament.txt
web/notificacions.txt

# altres docs 
altres/*
