@CHARSET "UTF-8";

/*

Mediaqueries, add meta
<meta name="viewport" content="width=device-width, initial-scale=1.0">

Examples
> 320x480 smart phone portrait
> 480x320 smart phone landscape
> 768x1024 tablet portrait
> 1024x768 tablet/netbook landscape
> 1680x1050 desktop   

*/

@media only screen and (min-width: 960px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {
	#left-menu { display: none }
	#main-col {border: none }
	#main-col #slider {  display: none }
	
	#menu-user {
	    float: none;
	    margin: 0;
	    position: relative;
	    width: auto;
	}	
	
	#menu-user .menu-user-club-info {
	    float: none;
	    margin: auto;
	    width: 90%;
	}

	#menu-user .menu-user-club-info .select2-container a { width: auto; }

	#menu-user .menu-user-action { display: none }
	#menu-user label,
	#menu-user .select2-container { display: inline-block; margin: auto; width: 200px;}
	#mobile-menu-principal { display: block; margin: auto; }
	
	
	#main-col, #no-js {
    	max-width: inherit;
    	min-width: inherit;
    	width: 100%;
    	min-height: inherit;
    	padding: 0;
	}

	#wrapper {
	    margin: auto;
	    min-width: 420px;
	    position: relative;
	    width: auto;
	}
	
	#header {
	    height: 180px;
	    padding: 10px;
	    position: relative;
	    background-image:none;
	    background-color: #67A2CF;
	}
	
	#header.header-nologin {
		 height: 60px;
	}
	
	#header .login {
		padding-top: 10px;
	    display: block;
		margin: auto;
	    max-width: inherit;
	    width: auto;
	    float: none;
	    text-align: center;
	}
	
	#header .title {
	    display: inline-block;
	    padding-left: 70px;
	    width: auto;
	}
	
	.logo img {
	    width: 60px;
	}
	
	#main-col header {
	    width: auto;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
	#main {
	    width: 400px;
	}
	
	#header .title i {
		display:none;
	}

	#menu-user .select2-container { width: 200px;}
	
	#formllicencia-persona #s2id_parte_llicencies_persona_select {
		width: 200px;
	}
	
	#partes-main .form-col { display:block; width:95%; float:none;  }
	#partes-main .column-right { position: absolute; top: 60px; }
	
	.col-responsive {  display: table-cell; }
	.col-noresponsive { display: none;}
	
	.assegurat-tipusdesc { width: 45%; }
}