#DirectoryIndex app_dev.php
#Redirect / http://fecdas.dev/app_dev.php
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^(.*)$ app.php [QSA,L]
#    RewriteRule ^$ http://fecdas.dev/app_dev.php [R=301,L]
#    RewriteRule ^$ http://www.fecdasgestio.cat/app.php [R=301,L]
#</IfModule>
#
#RedirectMatch permanent ^/app\.php/(.*) /$1
#
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteRule ^(.*)$ app_dev.php [QSA,L]
#</IfModule>

DirectoryIndex app_dev.php

<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^fecdas.dev
	RewriteRule (.*) http://www.fecdas.dev/$1 [R=301,L]

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app_dev\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule .? %{ENV:BASE}/app_dev.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect
        RedirectMatch 302 ^/$ /app_dev.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
